@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600&display=swap");
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

span {
  display: inline-block;
}

img {
  height: 100%;
  width: 100%;
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Mulish", sans-serif;
}

.rv_work_main_area {
  padding: 150px 0;
  position: relative;
}
.rv_work_main_area .rv_work_title_heading {
  font-size: 50px;
  font-weight: 600;
  color: #050505;
  max-width: 550px;
  margin: auto;
  text-align: center;
  margin-bottom: 60px;
}
.rv_work_main_area .rv_work_area {
  width: 100%;
  height: 570px;
  position: relative;
}
.rv_work_main_area .rv_work_area .rv_work_iamge img {
  display: block;
  width: 80%;
  height: 100%;
}
.rv_work_main_area .rv_work_area .rv_work_content_main {
  position: absolute;
  top: 53%;
  right: 0;
  transform: translateY(-50%);
  height: 400px;
  width: 300px;
}
.rv_work_main_area .rv_work_area .rv_work_content_main .rv_work_content_area .rv_work_content {
  text-align: left;
  background: #000;
  color: #fff;
  padding: 50px 30px;
}
.rv_work_main_area .rv_work_area .rv_work_content_main .rv_work_content_area .rv_work_content span {
  padding-bottom: 50px;
  display: inline-block;
  color: #D9D9D9;
}
.rv_work_main_area .rv_work_area .rv_work_content_main .rv_work_content_area .rv_work_content .rv_work_content_title {
  padding-bottom: 50px;
  font-size: 24px;
  font-weight: 700;
}
.rv_work_main_area .rv_work_area .rv_work_content_main .rv_work_content_area .rv_work_content .rv_work_content_title a {
  color: #FFFFFF;
  transition: 0.5s;
}
.rv_work_main_area .rv_work_area .rv_work_content_main .rv_work_content_area .rv_work_content .rv_work_content_title a:hover {
  color: #F35B04;
}
.rv_work_main_area .rv_work_area .rv_work_content_main .rv_work_content_area .rv_work_content .rv_work_content_btn {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  transition: 0.5s;
}
.rv_work_main_area .rv_work_area .rv_work_content_main .rv_work_content_area .rv_work_content .rv_work_content_btn:hover {
  color: #F35B04;
  letter-spacing: 1.1px;
}
.rv_work_main_area .rv_work_button_area {
  position: absolute;
  left: 290px;
  bottom: 100PX;
  color: #050505;
}
.rv_work_main_area .rv_work_button_area .swiper-button-prev {
  color: #050505;
  width: 200px;
}
.rv_work_main_area .rv_work_button_area .swiper-button-prev i {
  margin: 0 15px;
  color: #050505;
}
.rv_work_main_area .rv_work_button_area ::after {
  display: none;
}
.rv_work_main_area .rv_work_button_area .swiper-button-next {
  color: #050505;
  width: 200px;
}
.rv_work_main_area .rv_work_button_area .swiper-button-next i {
  margin: 0 15px;
  color: #050505;
}
.rv_work_main_area .rv_work_button_area ::after {
  display: none;
}

.rv_brand_main_area {
  padding-bottom: 100px;
}
.rv_brand_main_area .rv_brand_area {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(5, 1fr);
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 50px;
}
.rv_brand_main_area .rv_brand_area .rv_single_brand img {
  width: 130px;
  height: 72px;
  margin: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.rv_testimonial_main_area {
  position: relative;
  z-index: 1;
}
.rv_testimonial_main_area .rv-testimonial-slider-container .rv_single_testimonial {
  background: #F3F5FB;
  padding: 80px;
}
.rv_testimonial_main_area .rv-testimonial-slider-container .rv_single_testimonial .rv_testimonial_review {
  padding-bottom: 40px;
}
.rv_testimonial_main_area .rv-testimonial-slider-container .rv_single_testimonial .rv_testimonial_review a {
  color: #FFB422;
}
.rv_testimonial_main_area .rv-testimonial-slider-container .rv_single_testimonial .rv_testimonial_desc {
  color: #666666;
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 70px;
}
.rv_testimonial_main_area .rv-testimonial-slider-container .rv_single_testimonial .rv_testimonial_desc span {
  background: #050505;
  background: #666666;
  color: #FFFFFF;
}
.rv_testimonial_main_area .rv-testimonial-slider-container .rv_single_testimonial .rv_testimonial_bottom {
  border-top: 1px solid rgba(102, 102, 102, 0.2784313725);
  padding-top: 40px;
}
.rv_testimonial_main_area .rv-testimonial-slider-container .rv_single_testimonial .rv_testimonial_bottom .rv_testimonial_author_name {
  font-size: 26px;
  font-weight: 600;
  color: #666666;
}
.rv_testimonial_main_area .rv-testimonial-slider-container .rv_single_testimonial .rv_testimonial_bottom .rv_testimonial_author_name a {
  color: #666666;
  transition: 0.5s;
}
.rv_testimonial_main_area .rv-testimonial-slider-container .rv_single_testimonial .rv_testimonial_bottom .rv_testimonial_author_name a:hover {
  color: #F35B04;
}
.rv_testimonial_main_area .rv-testimonial-slider-container .rv_single_testimonial .rv_testimonial_bottom .rv_testimonial_author_designation {
  font-weight: 500;
  color: #666666;
}
.rv_testimonial_main_area .rv-testimonial-slider-container .active.center .rv_testimonial_desc span {
  background: #050505;
  color: #FFFFFF;
}
.rv_testimonial_main_area .rv-testimonial-slider-container .active.center .rv_testimonial_author_name {
  color: #050505;
}
.rv_testimonial_main_area button.owl-prev {
  position: absolute;
  top: 70px;
  left: 313px;
}
.rv_testimonial_main_area button.owl-prev i {
  border: 1px solid #C6C8D4;
  padding: 12px 15px;
  transition: 0.5s;
  background: transparent;
  font-size: 25px;
}
.rv_testimonial_main_area button.owl-prev i:hover {
  background: #F35B04;
  color: #FFFFFF;
  border: 1px solid transparent;
}
.rv_testimonial_main_area button.owl-next {
  position: absolute;
  bottom: 100px;
  right: 315px;
}
.rv_testimonial_main_area button.owl-next i {
  border: 1px solid #C6C8D4;
  padding: 12px 15px;
  transition: 0.5s;
  background: transparent;
  font-size: 25px;
}
.rv_testimonial_main_area button.owl-next i:hover {
  background: #F35B04;
  color: #FFFFFF;
  border: 1px solid transparent;
}

.rv_teem_main_area {
  padding: 100px 0;
}
.rv_teem_main_area .rv_teem_title_heading {
  color: #050505;
  font-size: 50px;
  font-weight: 600;
  padding-bottom: 70px;
}
.rv_teem_main_area .rv_teem_area {
  position: relative;
}
.rv_teem_main_area .rv_teem_area .rv_single_teem {
  border: 1px solid #C6C8D4;
}
.rv_teem_main_area .rv_teem_area .rv_single_teem:hover {
  background: #FFB422;
}
.rv_teem_main_area .rv_teem_area .rv_single_teem:hover .rv_teem_member_info_area .rv_teem_member_socials {
  visibility: visible;
  display: block;
}
.rv_teem_main_area .rv_teem_area .rv_single_teem .rv_teem_member_info_area {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}
.rv_teem_main_area .rv_teem_area .rv_single_teem .rv_teem_member_info_area .rv_teem_member_info .rv_team_member_designation {
  font-weight: 500;
  color: #666666;
  padding-bottom: 7px;
  display: inline-block;
}
.rv_teem_main_area .rv_teem_area .rv_single_teem .rv_teem_member_info_area .rv_teem_member_info .rv_team_member_name {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}
.rv_teem_main_area .rv_teem_area .rv_single_teem .rv_teem_member_info_area .rv_teem_member_info .rv_team_member_name a {
  color: #050505;
  transition: 0.5s;
}
.rv_teem_main_area .rv_teem_area .rv_single_teem .rv_teem_member_info_area .rv_teem_member_info .rv_team_member_name a:hover {
  color: #F35B04;
}
.rv_teem_main_area .rv_teem_area .rv_single_teem .rv_teem_member_info_area .rv_teem_member_socials {
  align-self: flex-end;
  visibility: hidden;
}
.rv_teem_main_area .rv_teem_area .rv_single_teem .rv_teem_member_info_area .rv_teem_member_socials a {
  margin-right: 10px;
  font-size: 20px;
  color: #F78C4F;
  transition: 0.5s;
}
.rv_teem_main_area .rv_teem_area .rv_single_teem .rv_teem_member_info_area .rv_teem_member_socials a:hover {
  color: #FFFFFF;
}
.rv_teem_main_area .rv_teem_area button.owl-prev {
  position: absolute;
  right: 30px;
  top: -121px;
}
.rv_teem_main_area .rv_teem_area button.owl-prev i {
  color: #C6C8D4;
  font-size: 30px;
  transition: 0.3s;
}
.rv_teem_main_area .rv_teem_area button.owl-prev i:hover {
  color: #050505;
}
.rv_teem_main_area .rv_teem_area button.owl-next {
  position: absolute;
  right: 0;
  top: -121px;
  transition: 0.3s;
}
.rv_teem_main_area .rv_teem_area button.owl-next i {
  color: #C6C8D4;
  font-size: 30px;
}
.rv_teem_main_area .rv_teem_area button.owl-next i:hover {
  color: #050505;
}

.rv_blog_main_area {
  padding: 50px 0;
  background: #F3F5FB;
}
.rv_blog_main_area .rv_single_blog_area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.rv_blog_main_area .rv_single_blog_area .rv_single_blog_image {
  overflow: hidden;
  width: 460px;
  height: 360px;
}
.rv_blog_main_area .rv_single_blog_area .rv_single_blog_image img {
  transition: 0.5s;
}
.rv_blog_main_area .rv_single_blog_area .rv_single_blog_image img:hover {
  transform: scale(1.1);
}
.rv_blog_main_area .rv_single_blog_area .rv_single_blog_content .rv_single_blog_meta {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  padding-bottom: 30px;
}
.rv_blog_main_area .rv_single_blog_area .rv_single_blog_content .rv_single_blog_meta .rv_single_blog_meta_catagory {
  background: #F35B04;
  color: #FFFFFF;
  padding: 3px 12px;
  font-weight: 600;
}
.rv_blog_main_area .rv_single_blog_area .rv_single_blog_content .rv_single_blog_meta span {
  color: #666666;
  font-weight: 500;
}
.rv_blog_main_area .rv_single_blog_area .rv_single_blog_content .rv_single_blog_meta span i {
  color: #666666;
}
.rv_blog_main_area .rv_single_blog_area .rv_single_blog_content .rv_single_blog_content_title {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 20px;
}
.rv_blog_main_area .rv_single_blog_area .rv_single_blog_content .rv_single_blog_content_title a {
  color: #050505;
  transition: 0.5s;
}
.rv_blog_main_area .rv_single_blog_area .rv_single_blog_content .rv_single_blog_content_title a:hover {
  color: #F35B04;
}
.rv_blog_main_area .rv_single_blog_area .rv_single_blog_content .rv_single_blog_content_desc {
  color: #666666;
  padding-bottom: 30px;
}
.rv_blog_main_area .rv_single_blog_area .rv_single_blog_content .rv_single_blog_content_btn {
  color: #050505;
  font-weight: 700;
  transition: 0.5s;
}
.rv_blog_main_area .rv_single_blog_area .rv_single_blog_content .rv_single_blog_content_btn i {
  padding-left: 5px;
}
.rv_blog_main_area .rv_single_blog_area .rv_single_blog_content .rv_single_blog_content_btn:hover {
  letter-spacing: 1.5px;
  color: #F35B04;
}

.rv_2_banner_section {
  padding: 150px 0;
  background: url(../images/home-2-banner-bg.png) no-repeat scroll center center/cover;
}
.rv_2_banner_section .rv_2_banner_content .rv_2_banner_content_heading {
  color: #FFFFFF;
  font-size: 70px;
  font-weight: 700;
  padding-bottom: 30px;
  max-width: 650px;
}
.rv_2_banner_section .rv_2_banner_content .rv_2_banner_content_desc {
  color: #FFFFFF;
  opacity: 50%;
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 40px;
}
.rv_2_banner_section .rv_2_banner_content .rv_4_banner_content_btn {
  background-color: transparent;
  border: 1px solid #666666;
  position: relative;
  overflow: hidden;
  z-index: 1;
  font-size: 17px;
  text-transform: uppercase;
  display: inline-block;
  font-weight: 700;
  margin-right: 10px;
  color: #FFFFFF;
  transition: 0.5s ease-out;
  padding: 12px 28px;
}
.rv_2_banner_section .rv_2_banner_content .rv_4_banner_content_btn:hover {
  color: #020208;
}
.rv_2_banner_section .rv_2_banner_content .rv_4_banner_content_btn::after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  transform: skew(90deg) translate(-50%, -50%);
  position: absolute;
  inset: 50%;
  left: 25%;
  z-index: -1;
  transition: 0.5s ease-out;
  background-color: #DFE11B;
}
.rv_2_banner_section .rv_2_banner_content .rv_4_banner_content_btn::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  inset: 50%;
  left: 25%;
  z-index: -1;
  transition: 0.5s ease-out;
  background-color: #DFE11B;
  top: -50%;
  left: -25%;
  transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
}
.rv_2_banner_section .rv_2_banner_content .rv_4_banner_content_btn:hover::before {
  transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
}
.rv_2_banner_section .rv_2_banner_content .rv_4_banner_content_btn:hover::after {
  transform: skew(45deg) translate(-50%, -50%);
}
.rv_2_banner_section .rv_2_banner_content .rv_4_banner_content_btn::after {
  background-color: #1C74E9 !important;
}
.rv_2_banner_section .rv_2_banner_content .rv_4_banner_content_btn::before {
  background-color: #1C74E9;
}

.rv_2_about_main_area {
  padding: 100px 0;
}
.rv_2_about_main_area .rv_2_about_image_area {
  position: relative;
}
.rv_2_about_main_area .rv_2_about_image_area img {
  width: 400px;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}
.rv_2_about_main_area .rv_2_about_image_area img:nth-child(2) {
  position: absolute;
  content: "";
  top: 100px;
  left: 100px;
}
.rv_2_about_main_area .rv_2_about_content_area {
  padding-top: 80px;
}
.rv_2_about_main_area .rv_2_about_content_area .rv_2_about_content_heading {
  font-size: 44px;
  font-weight: 800;
  color: #020208;
  padding-bottom: 50px;
}
.rv_2_about_main_area .rv_2_about_content_area .rv_2_about_content_item {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 40px;
}
.rv_2_about_main_area .rv_2_about_content_area .rv_2_about_content_item .rv_2_about_content_item_image img {
  height: 60px;
  width: 60px;
  -o-object-fit: contain;
     object-fit: contain;
}
.rv_2_about_main_area .rv_2_about_content_area .rv_2_about_content_item .rv_2_about_content_item_txt h4 {
  font-size: 20px;
  font-weight: 700;
  color: #0B1728;
  padding-bottom: 15px;
  cursor: pointer;
  transition: 0.3s;
}
.rv_2_about_main_area .rv_2_about_content_area .rv_2_about_content_item .rv_2_about_content_item_txt p {
  color: #666666;
  font-weight: 500;
}

.rv_2_service_main_area {
  padding: 50px 0;
}
.rv_2_service_main_area .rv_2_service_section_title .rv_2_service_section_heading {
  font-size: 44px;
  color: #020208;
  font-weight: 800;
  padding-bottom: 70px;
  max-width: 631px;
  text-align: center;
  margin: auto;
}
.rv_2_service_main_area .rv_2_single_services {
  position: relative;
  z-index: 2;
}
.rv_2_service_main_area .rv_2_single_services .rv_2_single_service_image {
  position: relative;
  z-index: 1;
}
.rv_2_service_main_area .rv_2_single_services .rv_2_single_service_image img {
  height: 500px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.rv_2_service_main_area .rv_2_single_services .rv_2_single_service_image::before {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: "";
  background: rgb(0, 0, 0);
  opacity: 0.7;
}
.rv_2_service_main_area .rv_2_single_services .rv_2_single_service_content {
  position: absolute;
  content: "";
  top: 60px;
  left: 40px;
  z-index: 1;
}
.rv_2_service_main_area .rv_2_single_services .rv_2_single_service_content .rv_2_single_service_icon {
  padding-bottom: 40px;
}
.rv_2_service_main_area .rv_2_single_services .rv_2_single_service_content .rv_2_single_service_icon img {
  height: 70px;
  width: 70px;
  -o-object-fit: contain;
     object-fit: contain;
}
.rv_2_service_main_area .rv_2_single_services .rv_2_single_service_content .rv_2_single_service_title {
  color: #FFFFFF;
  font-size: 34px;
  font-weight: 700;
  padding-bottom: 40px;
  max-width: 250px;
}
.rv_2_service_main_area .rv_2_single_services .rv_2_single_service_content .sercive_btn {
  background: transparent;
  border: 1px solid rgba(102, 102, 102, 0.4);
  height: 50px;
  width: 50px;
  display: inline-block;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  line-height: 50px;
  transition: 0.5s;
}
.rv_2_service_main_area .rv_2_single_services .rv_2_single_service_content .sercive_btn:hover {
  background: #DFE11B;
  border: 1px solid transparent;
  color: #050505;
}

.rv_4_banner_main_area .rv_4_banner_slider {
  position: relative;
}
.rv_4_banner_main_area .rv_4_banner_slider .rv_4_banner_single_slider {
  z-index: 1;
  position: relative;
  padding: 100px 0;
}
.rv_4_banner_main_area .rv_4_banner_slider .rv_4_banner_single_slider::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgb(0, 0, 0);
  opacity: 0.8;
  z-index: -1;
}
.rv_4_banner_main_area .rv_4_banner_slider .rv_4_banner_single_slider h1 {
  color: #FFFFFF;
  font-size: 70px;
  font-weight: 800;
  position: relative;
  z-index: 1;
}
.rv_4_banner_main_area .rv_4_banner_slider .rv_4_banner_single_slider h1 span {
  position: absolute;
  right: 195px;
  top: 60px;
  z-index: -1;
}
.rv_4_banner_main_area .rv_4_banner_slider .rv_4_banner_single_slider p {
  color: #666666;
  font-size: 18px;
  font-weight: 500;
}
.rv_4_banner_main_area .rv_4_banner_slider .rv_4_banner_single_slider .rv_4_banner_content_btn {
  background-color: transparent;
  border: 1px solid #666666;
  position: relative;
  overflow: hidden;
  z-index: 1;
  font-size: 17px;
  text-transform: uppercase;
  display: inline-block;
  font-weight: 700;
  margin-right: 10px;
  color: #FFFFFF;
  transition: 0.5s ease-out;
  padding: 12px 28px;
}
.rv_4_banner_main_area .rv_4_banner_slider .rv_4_banner_single_slider .rv_4_banner_content_btn:hover {
  color: #020208;
}
.rv_4_banner_main_area .rv_4_banner_slider .rv_4_banner_single_slider .rv_4_banner_content_btn::after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  transform: skew(90deg) translate(-50%, -50%);
  position: absolute;
  inset: 50%;
  left: 25%;
  z-index: -1;
  transition: 0.5s ease-out;
  background-color: #DFE11B;
}
.rv_4_banner_main_area .rv_4_banner_slider .rv_4_banner_single_slider .rv_4_banner_content_btn::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  inset: 50%;
  left: 25%;
  z-index: -1;
  transition: 0.5s ease-out;
  background-color: #DFE11B;
  top: -50%;
  left: -25%;
  transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
}
.rv_4_banner_main_area .rv_4_banner_slider .rv_4_banner_single_slider .rv_4_banner_content_btn:hover::before {
  transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
}
.rv_4_banner_main_area .rv_4_banner_slider .rv_4_banner_single_slider .rv_4_banner_content_btn:hover::after {
  transform: skew(45deg) translate(-50%, -50%);
}
.rv_4_banner_main_area .rv_4_banner_slider .rv_4_banner_slider_next {
  position: absolute;
  right: 200px;
  bottom: 0;
  z-index: 1;
  width: 200px;
  height: 150px;
  padding: 40px 20px;
  background: rgba(255, 255, 255, 0.2);
}
.rv_4_banner_main_area .rv_4_banner_slider .rv_4_banner_slider_next p {
  font-size: 16px;
  font-weight: 700;
  color: #FFFFFF;
  padding: 15px 0;
}
.rv_4_banner_main_area .rv_4_banner_slider .rv_4_banner_slider_next i {
  color: #FFFFFF;
}
.rv_4_banner_main_area .rv_4_banner_slider .rv_4_banner_slider_next .swiper-pagination {
  position: absolute;
  color: rgba(198, 200, 212, 0.4901960784);
  top: 15px;
  left: 19px;
  text-align: left;
  font-size: 23px;
  font-weight: 700;
}
.rv_4_banner_main_area .rv_4_banner_slider .rv_4_banner_slider_bottom_area {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  width: 200px;
  height: 150px;
}
.rv_4_banner_main_area .progress-one, .rv_4_banner_main_area .progress-two, .rv_4_banner_main_area .progress-three {
  width: 100px;
  height: 100px;
}
.rv_4_banner_main_area .progress {
  display: none;
}
.rv_4_banner_main_area .progressbar-text {
  font-size: 30px !important;
}

.rv_4_about_main_area {
  padding: 100px 0;
  position: relative;
}
.rv_4_about_main_area .rv_4_car_img {
  position: absolute;
  right: 2%;
  bottom: 10%;
}
.rv_4_about_main_area .rv_4_about_image {
  position: relative;
}
.rv_4_about_main_area .rv_4_about_image img {
  height: 650px;
  width: 550px;
  -o-object-fit: contain;
  object-fit: contain;
}
.rv_4_about_main_area .rv_4_about_image img:nth-child(2) {
  position: absolute;
  content: "";
  width: 250px;
  height: 300px;
  bottom: 60px;
  right: 12%;
  -o-object-fit: contain;
  object-fit: contain;
}
.rv_4_about_main_area .rv_4_about_content .rv_4_about_content_heading {
  color: #142137;
  font-size: 48px;
  font-weight: 800;
  position: relative;
  padding-bottom: 30px;
}
.rv_4_about_main_area .rv_4_about_content .rv_4_about_content_heading span {
  position: absolute;
  right: 23%;
  top: 50px;
  z-index: -1;
}
.rv_4_about_main_area .rv_4_about_content .rv_4_about_content_desc {
  color: rgba(20, 33, 55, 0.8);
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 30px;
}
.rv_4_about_main_area .rv_4_about_content .rv_4_about_list_item {
  padding-bottom: 40px;
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.rv_4_about_main_area .rv_4_about_content .rv_4_about_list_item .rv_4_about_list_number > span {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: #C6C8D4;
  color: #142137;
  text-align: center;
  line-height: 50px;
  font-size: 18px;
  font-weight: 700;
}
.rv_4_about_main_area .rv_4_about_content .rv_4_about_list_item .rv_4_about_list_content h4 {
  color: #142137;
  font-size: 20px;
  font-weight: 700;
  transition: 0.3s;
  cursor: pointer;
  padding-bottom: 10px;
}
.rv_4_about_main_area .rv_4_about_content .rv_4_about_list_item .rv_4_about_list_content h4:hover {
  color: #1C74E9;
}
.rv_4_about_main_area .rv_4_about_content .rv_4_about_list_item .rv_4_about_list_content p {
  color: rgba(20, 33, 55, 0.7);
  font-weight: 500;
  font-size: 16px;
}
.rv_4_about_main_area .rv_4_about_content .rv_4_about_btn {
  background-color: transparent;
  border: 1px solid #666666;
  position: relative;
  overflow: hidden;
  z-index: 1;
  font-size: 17px;
  text-transform: uppercase;
  display: inline-block;
  font-weight: 700;
  margin-right: 10px;
  color: #FFFFFF;
  transition: 0.5s ease-out;
  padding: 12px 28px;
  color: #142137;
}
.rv_4_about_main_area .rv_4_about_content .rv_4_about_btn:hover {
  color: #020208;
}
.rv_4_about_main_area .rv_4_about_content .rv_4_about_btn::after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  transform: skew(90deg) translate(-50%, -50%);
  position: absolute;
  inset: 50%;
  left: 25%;
  z-index: -1;
  transition: 0.5s ease-out;
  background-color: #DFE11B;
}
.rv_4_about_main_area .rv_4_about_content .rv_4_about_btn::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  inset: 50%;
  left: 25%;
  z-index: -1;
  transition: 0.5s ease-out;
  background-color: #DFE11B;
  top: -50%;
  left: -25%;
  transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
}
.rv_4_about_main_area .rv_4_about_content .rv_4_about_btn:hover::before {
  transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
}
.rv_4_about_main_area .rv_4_about_content .rv_4_about_btn:hover::after {
  transform: skew(45deg) translate(-50%, -50%);
}/*# sourceMappingURL=style.css.map */